html {
    overflow-y: scroll
}

:root {
    --hcolor: #b3df15;
    --bgcolor: #292929;
    --fontcolor: white;
    --linkcolor: #55bbff;
    --visitedcolor: #5bf;
    --precolor: #ffffff;
    --prebgcolor: #494949;
    --fontsize: 15px;
    --codesize: 13px;
}

body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0px 10px;
    font: 15px/1.5 monospace;
    color: var(--fontcolor);
    background: var(--bgcolor)
}

a:link,
a:visited,
a:active {
    color: var(--linkcolor)
}

h1,
h2,
h3 {
    color: var(--hcolor);
    line-height: 1.2;
    font-size: 1.2em;
    padding-top: 12px;
}

h1>a:link,
h1>a:visited,
h1>a:active {
    color: var(--hcolor);
    padding-top: 12px;
}

time {
    font-size: 0.8em;
    color: #999999;
}

p>code {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 1px;
} 

article {
    padding: 6px 0
}

.highlight pre {
    color: var(--precolor);
    background: var(--prebgcolor);
    font-size: var(--codesize); 
    line-height: 1.5;
    overflow-x: auto;
    padding: 12px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.pagination {
    margin-top: 24px;
}

figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
}

figure {
    margin: auto
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto
}

header,
footer {
    a:link {
        text-decoration: none;
        font-style: normal;
    }
}

ol,
ul {
    padding-left: 1.5rem;
}

ul>li {
    list-style-type: disclosure-closed;
}
